@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer__inner {
  position: relative;
}

.footer__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: $color-divider;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.social {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.footer__contact {
  background-color: $color-brand;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__contact-phone,
.footer__contact-hours {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $color-white;
  font-size: 1.2rem;
  font-weight: 700;
}

.legal {
  padding: 2rem 1rem;
}

.legal ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.legal ul a {
  text-decoration: none;
  color: $color-brand;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__copyright {
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
}

.footer__copyright::before {
  content: "";
  width: 100%;
  height: 1px;
  background: $color-divider;
  top: 0;
  left: 0;
  position: absolute;
}

.footer__copyright span {
  display: block;
}
