@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.faq {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.faq__items {
  display: grid;
  gap: 1rem;
}

.faq__item {
  background-color: rgba($color-blue-soft, 0.5);
  padding: 2rem;
}

.faq__item.is-active {
  background-color: $color-blue-soft;
}

.faq__question {
  width: 100%;
  text-align: left;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-primary;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
}

.faq__answer {
  color: $color-text;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq__answer p {
  margin-top: 1rem;
}

.faq__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-minus {
  display: none;
}

.faq__question[aria-expanded="true"] {
  .icon-plus {
    display: none;
  }

  .icon-minus {
    display: block;
  }
}
