@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.swiper-slide {
}

.slide__img-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.slide__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide__details {
  display: grid;
  gap: 0.25rem;
  margin-top: 1.5rem;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-next {
  right: 1rem;
  background-image: url("/icons/icon-slider-right.svg");
}

.swiper-button-prev {
  left: 1rem;
  background-image: url("/icons/icon-slider-left.svg");
}

.slider__location {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}
