@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.about {
  display: grid;
  gap: 1.5rem;
}

.about__subheading {
  font-size: 1.3rem;
  font-weight: 500;
  color: $color-primary-hover;
}
